body {
  background-color: black;
  margin: 0;
}
.container {
  width: 100%;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.Heading {
  color: white;
  font-family: Verdana;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 0 20px;
}

.link a {
  color: #7fffd4;
  font-size: 16px;
  text-decoration: underline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}
.video-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 42px;
  text-align: center;
  margin-bottom: 20px;
  padding: 0 20px;
}
.features2 {
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 21px;
  text-align: center;
  padding: 0 20px;
}
.features3 {
  width: 60%;
}
.features4 {
  margin: 25px 0;
  padding: 0 20px;
}

footer {
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: right;
  margin-top: 20px;
  padding: 0 20px;
}
